@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body { 
	margin: 0 auto;
	padding: 0;
	border: 0;
}
body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	background-color: #c4c4c4;
	font-size: 12pt;
	color: #000;
	font-style: normal;
	line-height: 1.2em;
	min-width: 330px;
	max-width: 1200px;
}
.container {
	background-image: url('./assets/brushed.jpg');
	background-attachment: fixed;
	margin: 0 auto;
	padding: 2em;
	width: 100%;
	height: auto !important;
}
.main  {
	width: 100%;
	margin: 20px;
	clear: both;
}
h1, h2, h3, h4, h5, h6 {
	margin: 2% 0;
	padding: 1% 5%;
	color: #3C628F;
}
h1 {
	font-size: 2.2em;
	line-height: 1.2em;
}
h2 {
	font-size: 1.7em;
	line-height: 1.2em;
	margin: 20px 0 5px 0;
}
h3 {
	font-size: 1.4em;
	line-height: 1.2em;
	margin: 20px 0 5px 0;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
form {
	margin: 2% 0;
	padding: 0 5%;
}
p {
	margin: 2% 5%;
	padding: 0 2%;
}
ul {
	margin: 2% 5%;
	padding: 0 3.5%;
}
li {
	padding: 0.2% 0;	
}
.logo {
	float: left;
	border-radius: 15px;
	margin: 10px auto;
	min-width: 40%;
	max-width: 100%;
}
form, table {
	margin: 10px auto;	
}
a:link , a:visited{
	text-decoration: none;
}
a:hover, a:active, a:focus {
	text-decoration: none;
}
footer {
	color: #fff;
	font-size: 95%;
	padding: 20px 50px;
	margin: 0 auto;
	background-image: -webkit-linear-gradient(270deg,rgba(76,124,180,1.00) 0%,rgba(154,185,231,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(76,124,180,1.00) 0%,rgba(154,185,231,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(76,124,180,1.00) 0%,rgba(154,185,231,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(76,124,180,1.00) 0%,rgba(154,185,231,1.00) 100%);
	position: relative;
	clear: both;
	border-top: 2px solid #EC1818;
	min-height: 3em;
	z-index: 40;
}
footer {
	color: #fff;
	margin: 0 auto;
	text-align: center;
	text-shadow: 0px 1px 7px rgba(0,0,0,0.93);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.30);
	box-shadow: 0px 3px 3px rgba(0,0,0,0.30);
}

p.footer {
	margin: 1em 0;
	padding: 0;
}

/* Makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column_left, .column_right {
        width: 100%;
    }
}
/* Navigation moves from 6 wide to 3 wide */
@media (max-width: 830px) and (min-width: 415px) {
    .column {
        width: 100%;
    }
}



/* Absolute site min-width: 330px */



/* Navbar container */

.navbar {
	font-family: Arial, sans-serif;
	background-image: -webkit-linear-gradient(270deg,rgba(76,124,180,1.00) 0%,rgba(154,185,231,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(76,124,180,1.00) 0%,rgba(154,185,231,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(76,124,180,1.00) 0%,rgba(154,185,231,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(76,124,180,1.00) 0%,rgba(154,185,231,1.00) 100%);
	line-height: auto;
	font-weight: normal;
	margin: 0 auto;
	width: 100%;
	overflow: auto;
	text-align: center;
	text-shadow: 0px 1px 7px rgba(0,0,0,0.93);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.30);
	box-shadow: 0px 3px 3px rgba(0,0,0,0.30);
	border-top: 1px solid #EC1818;
}

/* Links inside the navbar */
.navbar a {
	float: right;
	font-size: 16px;
	text-align: center;
	padding: 1% 2%;
	text-decoration: none;
	color: #fff;
	margin: 0 auto;
	position: relative;
	display: block;
	width: auto;
	z-index: 90;
}

/*
/* The dropdown container
.dropdown {
	float: left;
	overflow: hidden;
}
 */

/* Dropdown button
.dropdown .dropbtn {
	font-size: 16px; 
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;  */   /* Important for vertical align on mobile phones
	margin: 0; /* Important for vertical align on mobile phones
} */

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: #EC1818;
}

/* Dropdown content (hidden by default)
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #eee;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
 */
 
/* Links inside the dropdown
.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
 */

/* Add a grey background color to dropdown links on hover
.dropdown-content a:hover {
	background-color: #ddd;
}
 */
 
/* Show the dropdown menu on hover
.dropdown:hover .dropdown-content {
	display: block;
}
 */