:host {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .25s ease-in-out;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 9999999999999999;
}
:host.display {
    display: flex !important;
}
:host.show {
    opacity: 1;
}
.bg {
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    width: 100%;
    height: 100%;
}
.overlayContent {
    padding: 30px;
    background: white;
    border-radius: 5px;
    box-shadow: 1px 0px 18px 0px #b7b7b7;
    transition: all .25s ease-in-out;
    opacity: 0;
    z-index: 9999;
}
.overlayContent.show {
    opacity: 1;
}
h1 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 10px;
}