<div class="card-block">

  <h2>{{ patientProfile.first_name }} {{ patientProfile.last_name }}'s Profile</h2>
      
  <form (ngSubmit)="_setPatientProfile()">
    <table border="0" cellspacing="0" cellpadding="0" id="table">
      <tr>
        <td class="redBorder">First Name</td>
        <td class="redBorder"><input class="form-control" *ngIf="patientProfile" name="patientProfile.first_name" type="text" [(ngModel)]="patientProfile.first_name" placeholder="John"></td>        
      </tr>    

      <tr>
        <td class="redBorder">Last Name</td>
        <td class="redBorder"><input class="form-control" *ngIf="patientProfile" name="patientProfile.last_name" type="text" [(ngModel)]="patientProfile.last_name" placeholder="Doe"></td>        
      </tr>    
      
      <tr>
        <td class="redBorder">Phone Number<br /><font style="font-size: 0.8em">(555-555-5555)</font></td>
        <td class="redBorder"><input class="form-control" *ngIf="patientProfile" name="patientProfile.phone_number" type="tel" [(ngModel)]="patientProfile.phone_number" placeholder="555-555-5555"></td>        
      </tr>    
      
      <tr>
        <td class="redBorder">Address</td>
        <td class="redBorder"><input class="form-control" *ngIf="patientProfile" name="patientProfile.street" type="text" [(ngModel)]="patientProfile.street" placeholder="123 Main St"></td>        
      </tr>    
      
      <tr>
        <td class="redBorder">City</td>
        <td class="redBorder"><input class="form-control" *ngIf="patientProfile" name="patientProfile.city" type="text" [(ngModel)]="patientProfile.city" placeholder="Columbus"></td>        
      </tr>    
      
      <tr>
        <td class="redBorder">State</td>
        <td class="redBorder">
          <select class="form-control" size="1" *ngIf="patientProfile" name="patientProfile.state" [(ngModel)]="patientProfile.state">
            <option value=""></option>
            <option value="AK">AK</option>
            <option value="AL">AL</option>
            <option value="AR">AR</option>
            <option value="AZ">AZ</option>
            <option value="CA">CA</option>
            <option value="CO">CO</option>
            <option value="CT">CT</option>
            <option value="DC">DC</option>
            <option value="DE">DE</option>
            <option value="FL">FL</option>
            <option value="GA">GA</option>
            <option value="HI">HI</option>
            <option value="IA">IA</option>
            <option value="ID">ID</option>
            <option value="IL">IL</option>
            <option value="IN">IN</option>
            <option value="KS">KS</option>
            <option value="KY">KY</option>
            <option value="LA">LA</option>
            <option value="MA">MA</option>
            <option value="MD">MD</option>
            <option value="ME">ME</option>
            <option value="MI">MI</option>
            <option value="MN">MN</option>
            <option value="MO">MO</option>
            <option value="MS">MS</option>
            <option value="MT">MT</option>
            <option value="NC">NC</option>
            <option value="ND">ND</option>
            <option value="NE">NE</option>
            <option value="NH">NH</option>
            <option value="NJ">NJ</option>
            <option value="NM">NM</option>
            <option value="NV">NV</option>
            <option value="NY">NY</option>
            <option value="OH">OH</option>
            <option value="OK">OK</option>
            <option value="OR">OR</option>
            <option value="PA">PA</option>
            <option value="RI">RI</option>
            <option value="SC">SC</option>
            <option value="SD">SD</option>
            <option value="TN">TN</option>
            <option value="TX">TX</option>
            <option value="UT">UT</option>
            <option value="VA">VA</option>
            <option value="VT">VT</option>
            <option value="WA">WA</option>
            <option value="WI">WI</option>
            <option value="WV">WV</option>
            <option value="WY">WY</option>
          </select>
        </td>        
      </tr>   
      
      <tr>
        <td class="redBorder">Zip Code <font style="font-size: 0.8em">(5 digit)</font></td>
        <td class="redBorder"><input class="form-control" *ngIf="patientProfile" name="patientProfile.zip_code" type="text" [(ngModel)]="patientProfile.zip_code"></td>        
      </tr>    
      
      <tr>
        <td class="redBorder">Email</td>
        <td class="redBorder"><input class="form-control" *ngIf="patientProfile" name="patientProfile.email_address" type="text" [(ngModel)]="patientProfile.email_address"></td>        
      </tr>    
      
      <tr>
        <td class="submit"><button type="submit" class="btn btn-primary">Update profile</button></td>
        <td class="submit"><button type="reset" class="btn btn-primary">Clear</button></td>
      </tr>
    </table>
  </form>
</div>