<div class="container">
  <h1>Patient Database</h1>
  
  <section class="search input-group mb-3">
    <label class="search" class="input-group-addon" for="search">Search</label>
    <input
      id="search"
      type="text"
      class="form-control"
      [(ngModel)]="query"
      (keyup)="searchPatients()" />
    <span class="input-group-btn">
      <button
        class="btn btn-danger"
        (click)="resetQuery()"
        [disabled]="!query">&times;</button>
    </span>
  </section>
  
<!-- No search results -->
  <p *ngIf="fs.noSearchResults(filteredProfile, query)" class="alert alert-warning">
    No patients found for <em class="text-danger">{{query}}</em>, sorry!
  </p>
  
<!-- Events listing -->
  <section style="margin: 2% 10%;" class="list-group">
    <a
      *ngFor="let patient of filteredProfile"
      [routerLink]="['/patient', patient.user_name]"
      class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h4 class="mb-1" [innerHTML]="patient.user_name"></h4>
<!--        <small>{{ patient.last_name }}</small><small> {{ patient.first_name }}</small><small> {{ patient.phone_number }}</small><small> {{ patient.state }}</small><small> {{ patient.zip_code }}</small> -->
			<small>{{ patient.last_name }} {{ patient.first_name }} {{ patient.phone_number }} {{ patient.state }} {{ patient.zip_code }}</small>
      </div>
    </a>
  </section>
</div>