<div class="container">



  <p>Won't you please <a routerLink="/login">sign in</a> or <a routerLink="/register">register</a>?</p>
  
    <h1>H1 - Heading 1</h1>  
  <p>Just take out whatever you don't want. It'll change your entire perspective. Every single thing in the world has its own personality - and it is up to you to make friends with the little rascals. When you buy that first tube of paint it gives you an artist license. We'll paint one happy little tree right here. The shadows are just like the highlights, but we're going in the opposite direction.</p>
  
  <h2>H2 - Heading 2</h2>
  
  <p>This is a happy place, little squirrels live here and play. I thought today we would do a happy little picture. You better get your coat out, this is going to be a cold painting. This is the way you take out your flustrations. It's almost like something out of a fairytale book. But they're very easily killed. Clouds are delicate.</p>
  
  <h3>H3 - Heading 3</h3>
  <p>We spend so much of our life looking - but never seeing. Let's build some happy little clouds up here. No worries. No cares. Just float and wait for the wind to blow you around.</p>

<p>How to paint. That's easy. What to paint. That's much harder. Just go out and talk to a tree. Make friends with it. Just use the old one inch brush. There comes a nice little fluffer. Let your heart take you to wherever you want to be.</p>

<p>You don't have to be crazy to do this but it does help. We wash our brush with odorless thinner. Only God can make a tree - but you can paint one. Don't forget to tell these special people in your life just how special they are to you. You gotta think like a tree.</p>

<p>Every time you practice, you learn more. At home you have unlimited time. I sincerely wish for you every possible joy life could bring.</p>

<p>Everybody needs a friend. That's why I paint - because I can create the kind of world I want - and I can make this world as happy as I want it. Let's make a nice big leafy tree. Let all these things just sort of happen. Now it's beginning to make a little sense.</p>
<footer>
  <p class="footer">Pearly Whites, Inc. - Family Dentistry &copy; 2018 &nbsp; | &nbsp; 1.800.479.5295 &nbsp; | &nbsp; <a href="mailto:info@pearlywhites.com">info@pearlywhites.com</a></p>
  <ul class="navfooter">
    <li><a href="index.html">Home</a> &nbsp; | &nbsp; </li>
    <li><a href="html/about.html">About Us</a> &nbsp; | &nbsp; </li>
    <li><a href="html/faqs.html">FAQs</a> &nbsp; | &nbsp; </li>
    <li><a href="html/feedback.html">Feedback</a> &nbsp; | &nbsp; </li>
    <li><a href="html/contactus.html">Contact Us</a> &nbsp; | &nbsp; </li>
    <li><a href="html/portal.html">Portal</a></li>
  </ul>
</footer>
</div>