<div class="navbar navbar-default">
  <div class="container">
      <a *ngIf="!auth.isLoggedIn()" routerLink="/login">Sign in</a>
      <a *ngIf="auth.isLoggedIn()" routerLink="/profile">{{ auth.getUserDetails()?.name }}</a>
      

        
        
    <div class="navbar">
      <a href="index.html">Home</a>
      <a href="accounting">Finance</a>
      
      <!-- Patient Bar Option -->
      <a *ngIf="auth.isLoggedIn()" routerLink="/schedule">Appointment</a>
      <a *ngIf="auth.isLoggedIn()"routerLink="/pay">Pay Bill</a>
      <a *ngIf="auth.isLoggedIn()" (click)="auth.logout()">Logout</a>
    
  
    </div>
  </div>
</div>
<router-outlet></router-outlet>