<div class="navbar navbar-default">
  <div class="container">
      <a *ngIf="!auth.isLoggedIn()" routerLink="/login">Sign in</a>
      <a *ngIf="auth.isLoggedIn()" routerLink="/profile">{{ auth.getUserDetails()?.name }}</a>
      

        
        
    <div class="navbar">
      <a href="index.html">Home</a>
      <a href="accounting">Finance</a>
      
      <div *ngIf="auth.isLoggedIn()">
      <!-- Patient Bar Option -->
      <a routerLink="/schedule">Appointment</a>
      <a routerLink="/pay">Pay Bill</a>
      <a (click)="auth.logout()">Logout</a>
      

      <!-- Employee Bar Option -->
      
      </div>
    
  
    </div>
  </div>
</div>
<router-outlet></router-outlet>