<div class="navbar navbar-default">
                      
  <div class="navbar">
  
<!--
    <p>{{ employee?.employee_status }}</p>
    <p *ngIf="employee.employee_status == false">not employee</p>
    <p *ngIf="employee.employee_status === true">employee</p>
-->
    
    <div *ngIf="auth.isLoggedIn()">
      <a (click)="auth.logout()">Logout</a>
     
      <div *ngIf="employee.employee_status == false">
        <!-- Patient Bar Option -->
        <a routerLink="/pay">Payments</a>      
        <a routerLink="/schedule">Appointments</a>
      </div>
  
      <div *ngIf="employee.employee_status == true">
        <!-- Employee Bar Option -->
        <a href="register">Registration</a>
        <a href="docs">Documents</a>
        <a href="inventory">Inventory</a>
        <a href="accounting">Finances</a>
        <a href="support">Support</a>
      </div>
	  

      
      <a *ngIf="auth.isLoggedIn()" routerLink="/profile">{{ auth.getUserDetails()?.name }}</a>

    </div>
      <a *ngIf="!auth.isLoggedIn()" routerLink="/login">Sign in</a>
      <a href="https://pearlywhites.000webhostapp.com/index.html">Home</a>
  </div>
</div>
<router-outlet></router-outlet>