<div class="card-block">

  <h1>Balance Due</h1>
      
  <form (ngSubmit)="_setPatientBill()">
    <table border="0" cellspacing="0" cellpadding="0" id="table">
      <tr>
        <td colspan="2" class="redBorder"><h3>Please enter new total balance due</h3></td>
      </tr>    
      
      <tr>
        <td class="redBorder">Balance Due</td>
        <td class="redBorder"><input class="form-control" *ngIf="patientBill" name="patientBill.balance_due" type="number" step=".01" [(ngModel)]="patientBill.balance_due"></td>
      </tr>    
      
      <tr>
        <td colspan="2" class="submit"><button type="submit" class="btn btn-primary">Update Balance Due</button></td>
      </tr>    
    </table>
  </form>
</div>