<div class="container">

  <h1>Patient Registration</h1>
<!--
      <form class="registerForm" (submit)="register()">
        <div class="form-group">
          <label for="name">Patient Full Name</label>
          <input type="text" class="form-control" name="name" placeholder="Enter your name" [(ngModel)]="credentials.name">
        </div>
        <div class="form-group">
          <label for="email">Patient Email Address</label>
          <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="credentials.email">
        </div>
        <div class="form-group">
          <label for="password">Password (Patient Account Number)</label>
          <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
        </div>
        <button type="submit" class="btn btn-default">Register!</button>
      </form>
    </div>
  </div>
-->
<form class="registerForm" (submit)="register()">
  <table border="0" cellspacing="0" cellpadding="0" id="table">
    <tr>
      <td class="redBorder"><label for="name">Patient Full Name</label></td>
      <td class="redBorder"><input type="text" class="form-control" name="name" placeholder="John Doe" [(ngModel)]="credentials.name"></td>
    </tr>
    
    <tr>
      <td class="redBorder"><label for="email">Patient Email Address</label></td>
      <td class="redBorder"><input type="email" class="form-control" name="email" placeholder="johndoe@gmail.com" [(ngModel)]="credentials.email"></td>
    </tr>
    
    <tr>
      <td class="redBorder"><label for="password">Password (Patient Account Number)</label></td>
      <td class="redBorder"><input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password"></td>
    </tr>
    
    <tr>
      <td class="submit"><button type="submit" class="btn btn-primary">Register!</button></td>
      <td class="submit"><button type="reset" class="btn btn-primary">Clear</button></td>
    </tr>
    
  </table>
</form>
<!--
  <div class="row">
    <div class="col-md-6">
      <h1>Register</h1>
      <p class="lead">Already a member? Please <a routerLink="/login">log in</a> instead.</p>
      <form class="registerForm" (submit)="register()">
        <div class="form-group">
          <label for="name">Full name</label>
          <input type="text" class="form-control" name="name" placeholder="Enter your name" [(ngModel)]="credentials.name">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="credentials.email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
        </div>
        <button type="submit" class="btn btn-default">Register!</button>
      </form>
    </div>
  </div>
-->  
</div>