<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="form-signin-heading">Supply List</h1>
  
        <form (ngSubmit)="updateSupplies()">
          <div class="form-horizontal">
          
                   
            <div class="form-group">
              <label class="col-sm-3 control-label">Supplies</label>        
              <select size="1"  name="suppliesProfile.item_name" [(ngModel)]="suppliesProfile.item_name">
                <option value="Tooth Brush">Tooth Brush</option>
                <option value="Prophy Paste">Prophy Paste</option>
                <option value="Floss">Floss</option>
                <option value="Soap">Soap</option>
                <option value="Patient Bibs">Patient Bibs</option>
                <option value="Disposable Gowns">Disposable Gowns</option>
                <option value="Cavi Wipes">Cavi Wipes</option>
                <option value="Mouth Wash">Mouth Wash</option>
                <option value="Paper Towels">Paper Towels</option>
                <option value="Tissue Paper">Tissue Paper</option>
                <option value="Toilet Paper">Toilet Paper</option>
                <option value="Prophy Angle">Prophy Angle</option>
                <option value="Sterilaztion Pouches">Sterilaztion Pouches</option>
                <option value="Suction Tips">Suction Tips</option>
                <option value="Matrix Band">Matirx Band</option>
                <option value="Toffelmire Retainer">Toffelmire Retainer</option>
                <option value="Defend Putty">Defend Putty</option>
                <option value="Defend Crown and Bridge Material">Defend Crown and Bridge Material</option>
                <option value="Dispensing Gun">Dispensing Gun</option>
                <option value="Acrylic and Monomer Liquid">Acrylic and Monomer Liquid</option>
                <option value="Gingival Tissue Retraction">Gingival Tissue Retraction</option>
                <option value="Distilled Water">Distilled Water</option>
                <option value="Defend Putty">Defend Putty</option>
                <option value="Mouse">Mouse</option>

               
              </select>
            </div>

            <div>
                <p>{{ suppliesProfile?.quantity }}</p>

            </div>
  <!--       --> 
            
  <!--		
            <div class="form-group">
              <label class="col-sm-3 control-label">Email</label>
              <input *ngIf="suppliesProfile" name="suppliesProfile.email_address" type="text" [(ngModel)]="patientProfile.email_address" size="30" placeholder="johndoe@gmail.com">
            </div>
  -->		  
          </div>
            
          <button type="submit" class="btn btn-default">Update</button>
        </form>
      </div>
    </div>
  </div>