<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="form-signin-heading">Inventory</h1>
  
        <form (ngSubmit)="updateSuppies()">
          <div class="form-horizontal">
          
                   
            <div class="form-group">
              <label class="col-sm-3 control-label">Inventory</label>        
              <select size="1"  name="inventoryProfile.item_name" [(ngModel)]="inventoryProfile.item_name">
                <option value="Monitor">Monitor</option>
                <option value="Tower">Tower</option>
                <option value="Hard Drive">Hard Drive</option>
                <option value="Laptop">Laptop</option>
                <option value="Key Board">Key Board</option>
                <option value="Mouse">Mouse</option>
                <option value="Speaker">Speaker</option>
                <option value="Router">Router</option>
                <option value="Surge Protector">Surge Protector</option>
                <option value="Cable">Cable</option>
                <option value="Extension Cord">Extension Cord</option>
                <option value="Printer">Printer</option>
                <option value="Scanner">Scanner</option>
                <option value="Desk">Desk</option>
                <option value="Office Chair">Office Chair</option>
               
               
              </select>
            </div>

            <div>
                <p>{{ inventoryProfile?.quantity }}</p>

            </div>
  <!--       --> 
            
  <!--		
            <div class="form-group">
              <label class="col-sm-3 control-label">Email</label>
              <input *ngIf="inventoryProfile" name="inventoryProfile.email_address" type="text" [(ngModel)]="patientProfile.email_address" size="30" placeholder="johndoe@gmail.com">
            </div>
  -->		  
          </div>
            
          <button type="submit" class="btn btn-default">Update</button>
        </form>
      </div>
    </div>
  </div>