<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="form-signin-heading">Inventory</h1>
  
        <form (ngSubmit)="updateInventory()">
          <div class="form-horizontal">
          
            <section class="search input-group mb-3">
              <label class="input-group-addon" for="search">Search</label>
              <input
                id="search"
                type="text"
                class="form-control"
                [(ngModel)]="query"
                (keyup)="searchInventory()" />
              <span class="input-group-btn">
                <button
                  class="btn btn-danger"
                  (click)="resetQuery()"
                  [disabled]="!query">&times;</button>
              </span>
            </section>
             <!-- No search results -->
    <p *ngIf="fs.noSearchResults(filteredProfile, query)" class="alert alert-warning">
      No events found for <em class="text-danger">{{query}}</em>, sorry!
    </p>

    <!-- Events listing -->
    <section class="list-group">
      <a
        *ngFor="let inventory of filteredProfile"
        [routerLink]="['/inventory', inventory.user_name]"
        class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1" [innerHTML]="inventory.user_name"></h5>
          <small>{{ inventory.item_name }}</small><small> {{ inventory.quantity }}</small>
        </div>
      </a>
    </section>
                   
            <div class="form-group">
              <label class="col-sm-3 control-label">Inventory</label>        
              <select size="1"  name="inventoryProfile.item_name" [(ngModel)]="inventoryProfile.item_name">
                <option value="Tooth Brush">Tooth Brush</option>
                <option value="Prophy Paste">Prophy Paste</option>
                <option value="Floss">Floss</option>
                <option value="Soap">Soap</option>
                <option value="Patient Bibs">Patient Bibs</option>
                <option value="Disposable Gowns">Disposable Gowns</option>
                <option value="Cavi Wipes">Cavi Wipes</option>
                <option value="Mouth Wash">Mouth Wash</option>
                <option value="Paper Towels">Paper Towels</option>
                <option value="Tissue Paper">Tissue Paper</option>
                <option value="Toilet Paper">Toilet Paper</option>
                <option value="Prophy Angle">Prophy Angle</option>
                <option value="Sterilaztion Pouches">Sterilaztion Pouches</option>
                <option value="Suction Tips">Suction Tips</option>
                <option value="Matrix Band">Matirx Band</option>
                <option value="Toffelmire Retainer">Toffelmire Retainer</option>
                <option value="Defend Putty">Defend Putty</option>
                <option value="Defend Crown and Bridge Material">Defend Crown and Bridge Material</option>
                <option value="Dispensing Gun">Dispensing Gun</option>
                <option value="Acrylic and Monomer Liquid">Acrylic and Monomer Liquid</option>
                <option value="Gingival Tissue Retraction">Gingival Tissue Retraction</option>
                <option value="Distilled Water">Distilled Water</option>
                <option value="Defend Putty">Defend Putty</option>
                <option value="Monitor">Monitor</option>
                <option value="Tower">Tower</option>
                <option value="Hard Drive">Hard Drive</option>
                <option value="Laptop">Laptop</option>
                <option value="Key Board">Key Board</option>
                <option value="Mouse">Mouse</option>
                <option value="Speaker">Speaker</option>
                <option value="Router">Router</option>
                <option value="Surge Protector">Surge Protector</option>
                <option value="Cable">Cable</option>
                <option value="Extension Cord">Extension Cord</option>
                <option value="Printer">Printer</option>
                <option value="Scanner">Scanner</option>
                <option value="Desk">Desk</option>
                <option value="Office Chair">Office Chair</option>
               
               
              </select>
            </div>

            <div>
                <p>{{ inventoryProfile?.quantity }}</p>

            </div>
  <!--       --> 
            
  <!--		
            <div class="form-group">
              <label class="col-sm-3 control-label">Email</label>
              <input *ngIf="inventoryProfile" name="inventoryProfile.email_address" type="text" [(ngModel)]="patientProfile.email_address" size="30" placeholder="johndoe@gmail.com">
            </div>
  -->		  
          </div>
            
        
        </form>
      </div>
    </div>
  </div>