<div class="container">
  <div class="row">
    
     <div class="col-md-6">

      <h1 class="form-signin-heading">Your profile</h1>

      <div class="form-horizontal">
        <form (ngSubmit)="update()">
        <div class="form-group">
          <label class="col-sm-3 control-label">Full name</label>
          <p class="form-control-static">{{ details?.name }}</p>
          <input *ngIf="details" name="details.name" type="text" [(ngModel)]="details.name">
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Email</label>
          <p class="form-control-static">{{ details?.email }}</p>
                  
        </div>
        <button type="submit" class="btn btn-default">Register!</button>
        </form>
      </div>

      <form (ngSubmit)="updateProfile()">
        <button type="submit" class="btn btn-default">Update profile</button>
      </form>
      <div class="form-horizontal">
        
        <div class="form-group">
          <label class="col-sm-3 control-label">First Name</label>
          <p class="form-control-static">{{ patientProfile?.first_name }}</p>
          
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Last Name</label>
          <p class="form-control-static">{{ patientProfile?.last_name }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Phone Number</label>
          <p class="form-control-static">{{ patientProfile?.phone_number }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Street</label>
          <p class="form-control-static">{{ patientProfile?.street }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">City</label>
          <p class="form-control-static">{{ patientProfile?.city }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">State</label>
          <p class="form-control-static">{{ patientProfile?.state }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Zip</label>
          <p class="form-control-static">{{ patientProfile?.zip_code }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Email</label>
          <p class="form-control-static">{{ patientProfile?.email_address }}</p>
        </div>

      </div>

    </div>

  </div>
</div>