<div class="container">
  <div class="row">
    
     <div class="col-md-6">

      <h1 class="form-signin-heading">Your profile</h1>



      <form (ngSubmit)="updateProfile()">
          
        <div class="form-horizontal">
        
        <div class="form-group">
          <label class="col-sm-3 control-label">First Name</label>
          <input *ngIf="patientProfile" name="patientProfile.first_name" type="text" [(ngModel)]="patientProfile.first_name">          
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Last Name</label>
          <input *ngIf="patientProfile" name="patientProfile.last_name" type="text" [(ngModel)]="patientProfile.last_name">
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Phone Number</label>
          <input *ngIf="patientProfile" name="patientProfile.phone_number" type="text" [(ngModel)]="patientProfile.phone_number">
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Street</label>
          <input *ngIf="patientProfile" name="patientProfile.street" type="text" [(ngModel)]="patientProfile.street">
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">City</label>
          <input *ngIf="patientProfile" name="patientProfile.city" type="text" [(ngModel)]="patientProfile.city">
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">State</label>
          <input *ngIf="patientProfile" name="patientProfile.state" type="text" [(ngModel)]="patientProfile.state">
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Zip</label>
          <input *ngIf="patientProfile" name="patientProfile.zip_code" type="text" [(ngModel)]="patientProfile.zip_code">
        </div>

        </div>
          <button type="submit" class="btn btn-default">Update profile</button>
      </form>
    </div>

  </div>
</div>