<div class="container">

<div class="container">


<div class="row">
  <div class="column_left">
    <a href="../index.html"><img src="assets/logo-small-brushed.jpg" alt="" width="300px" class="logo"/></a>
  </div>  
  <div class="column_right">
    <p class="schedule">Schedule an Appointment Today!<br> <a href="tel:1-800-479-5295">1-800-479-5295</a></p>
    <p class="hours" >Monday through Friday: 8am - 5pm<br>
Saturday: 9am - 2pm<br>
Sunday: Closed &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
  </div>
</div>

<div class="header">
<div class="navbar">
  <a href="../index.html">Home</a>
  <div class="dropdown">
    <button class="dropbtn">About Us</button>
    <div class="dropdown-content">
      <a href="doctors.html">Doctors</a>
      <a href="mission.html">Mission</a>
      <a href="history.html">History</a>
    </div>
  </div> 
  <div class="dropdown">
    <button class="dropbtn">FAQs</button>
    <div class="dropdown-content">
      <a href="newpatient.html">New Patients</a>
      <a href="services.html">Services</a>
      <a href="#">Something</a>
    </div>
  </div> 
  <a href="feedback.html">Feedback</a>
  <a href="contactus.html">Contact Us</a>
  <a href="portal.html">Portal</a>
  <a href="portal.html">Something</a>
</div>
</div>

<main>
<!-- InstanceBeginEditable name="Content" -->

  <h1>Meet Our Founders</h1>
  <h2>Dr. Elizabeth Moller</h2>
  
  <img src="assets/moller.jpg" alt="" width="350" height="506" class="doctorImg"/>
  <p>Dr. Moller was born and raised in Athens, Ohio, and graduated from Athens High School. She earned her undergraduate degree in Biochemistry from Virginia Tech and received a Doctor of Dental Surgery (DDS) degree from The Ohio State University College of Dentistry. She attended the Louis Stokes VA Medical Center General Practice Program where she received her GPR certificate as well as extensive training in oral surgery and anesthesia. In 2000 she received her IV Conscious Sedation certificate from Miami Valley Hospital in Dayton, OH.</p>
  
  <p>Dr. Moller has completed thousands of sedations and dental surgical procedures since receiving her sedation permit from the Ohio State Dental Board. She holds and actively maintains current certifications in basic life support as well as advanced cardiovascular life support. Dr. Moller practices as a general dentist and is proficient in all areas of dentistry. She has a special interest and is highly skilled in providing sedation and surgical procedures such as wisdom tooth extraction, bone grafting, tissue grafting, and implant dentistry. Notable advanced training includes affiliations with the Midwest Implant Institute, Pikos Surgical Institute and Kois Center for advanced dental education. She is a member of the American Dental Association, Ohio Dental Association, Northwest Ohio Dental Association, Academy of General Dentistry, American Academy of Implant Dentistry, and the American Dental Society of Anesthesiology.</p>

<p>Outside of work her hobbies include snowboarding, wakeboarding, and traveling. Dr. Moller also has many home improvement projects she is currently working on with her husband. Dr. Moller has completed nearly 500 hours of continuing education since graduating dental school and she is committed to mastering the most advanced techniques in order to provide the highest level of surgical and dental care for her patients.</p>

  <h3>Fun Facts About Dr. Moller</h3>
  <p>We asked Dr. Moller a few fun questions so that you can get to know her before your visit!</p>
  <ul>
    <li>Where is your favorite breakfast spot in Grandview? DK Diner.</li>
    
    <li>What is your favorite inexpensive family activity in Columbus? Columbus Clippers game. You can park a block from the stadium for $5, they have a lot of family specials on tickets throughout the season, you can bring in your own drinks and snacks, the stadium is minutes from Pearly Whites, and it's a beautiful venue in Downtown Columbus.</li>
    
    <li>What is your favorite thing about dentistry? Dentistry is a mixture of art and science.</li>
    
    <li>Where do you hope to travel to one day and why? New Zealand, to see its rugged beauty, and some Exotic Islands in the South Pacific.</li>
    
	<li>What's so great about dentistry? We get to make and do things for people that improve their lives.</li>
    
	<li>When you were in grade school what did you want to be when you grew up and why? (if you can remember) A dentist, because it sounded cooler than my friend that wanted to be a trash collector. (1st grade story).</li>
    
	<li>Why did you decide on a career in dentistry? I like to work with my hands and mind to solve problems.. and see the above 1st grade story.</li>
  </ul>  
    
  <h2>Dr. John Enamel</h2>
  <img src="assets/enamel.jpg" width="500" height="400" alt="" class="doctorImg"/>
<p>Dr. Enamel was born and raised in Northeastern Ohio. He received his dental training at The Ohio State University College of Dentistry followed by a post-doctorate residency at the Miami Valley Hospital in Dayton. In this post-doctorate residency, he learned advanced skills and techniques in Cosmetic Dentistry, Crown and Bridge and Root Canal Therapy. In addition to exceptional abilities in general and cosmetic dentistry, Dr. Enamel brings an extensive set of IV conscious sedation and oral surgery skills.</p>

<p>Dr. Enamel has a passion for giving his patients the best dental care using the latest technology in dentistry. Always wanting to give back to his community, Dr. Enamel participates in the “OHIO Project”, a program that helps giving dental care to the less fortunate in underserved areas of Ohio.</p>

<p>He is a member of the American Dental Association, Ohio Dental Association, and Columbus Dental Society. Dr. Enamel regularly attends Continuing Education courses to keep abreast of the newest techniques in the dental field.</p>

<p>Dr. Enamel married his wife, Erin, in the spring of 2011. He is very active and enjoys the outdoors.  He is an avid mountain biker, jogger, golfer, and he loves to fish. During the fall, you can find him watching and cheering on Buckeye football.
</p>

  <h3>Fun Facts About Dr. Enamel</h3>
  <p>We asked Dr. Enamel a few fun questions so that you can get to know him before your visit!</p>
  <ul>
    <li>What is your favorite restaurant in Columbus? Mitchell's Ocean Club</li>
    
	<li>What is your favorite activity in Columbus? Golf and Ohio State Football/Basketball.</li>
    
	<li>Where do you hope to travel to one day and why? I want to go to England to see all the stuff they took from their years as an empire.</li>
    
	<li>What is the one gadget or piece of technology you can't live without? My iPhone.</li>
    
	<li>Why did you decide on a career in dentistry? My two front teeth got knocked out when I was 8. I spent so much time at the dentist, so I thought why not be a dentist.</li>
    
	<li>What question do you hear the most from patients? What can we do to make my smile better?</li>
    
	<li>What is something that makes you smile? Hearing great stories about the lives of my patients.</li>
  </ul>
  
  <h2>Dr. Susan Incisor</h2>
  <img src="assets/incisor.jpg" width="450" height="450" alt="" class="doctorImg"/>
<p>Originally from Dayton, Dr. Incisor attended The Ohio State University where she majored in Nutrition and continued on to obtain her Doctorate of Dental Surgery. Dr. Incisor's main focus is to provide the best dental care while making the patient feel entirely at ease. She believes it is important to treat each patient as if they are family. "Pearly Whites Family Dentistry is a place where you can have all of your dental needs met at the highest standard of care without the fear of being lectured."</p>

<p>Dr. Incisor is a member of the American Dental Association, the Ohio Dental Association, and the Dayton Dental Association. A firm believer that one's education should never end, Dr.Incisor participates in many continuing education courses.</p>

<p>While not in the office, Dr. Incisor enjoys spending time with her husband, son, and her two dogs. Her favorite activities include jogging, hiking, concerts, trying new restaurants, and cheering on Ohio State. Go Bucks!
</p>

  <h3>Fun Facts About Dr. Incisor</h3>
  <p>We asked Dr. Incisor a few fun questions so that you can get to know her before your visit!</p>
  <ul>
    <li>What is your favorite restaurant in Dayton? Pineclub</li>
    <li>What is your favorite activity in Dayton? Attending a variety of the festivals during the summer.</li>
    <li>Where do you hope to travel to one day and why? I hope to visit Australia soon.  I would love to see the beaches and the wildlife.</li>
    <li>What is the one gadget or piece of technology you can't live without?  The television.  I'm not sure I could get by without sitcoms and dramedies.</li>
    <li>Why did you decide on a career in dentistry?  I liked the idea of helping people in a healthcare setting.  The idea of combining science and art really appealed to me.</li>
    <li>What's your favorite food? Milk and Cookies</li>
    <li>What is something that makes you smile?  I seem to always be smiling around my good friends and my nephews.</li>
  </ul>

</div>