<div ng-controller="AppCtrl" layout="column" style="height:500px;" ng-cloak="" class="sidenavdemoBasicUsage" ng-app="MyApp">

  <section layout="row" flex="">

    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Navigation</h1>
      </md-toolbar>
      <md-content layout-padding="left" ng-controller="LeftCtrl">
        <p hide="" show-gt-md="">

                <!--<button class="btn btn-info" (click)="<a class="nav-link" routerLink="/accounting"> General Journal <div class="sr-only">(current)</div>"</button> -->
                 <!-- <a routerLink="/generaljournal/generaljournal"><button class="btn btn-general" > General Journal </button></a> -->
                 <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item start">
                      <a class="nav-link" routerLink="/generaljournal/generaljournal"> General Journal <div class="sr-only">(current)</div></a>
                    </li>
                  </ul>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item start">
                  <a class="nav-link" routerLink="/login"> Ledger <div class="sr-only">(current)</div></a>
                </li>
              </ul>


 <div class="container">
    <div class="col-md-12">
      <h1>Journal Entries</h1>
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th class="text-center">Entry</th>
            <th class="text-center">Due</th>       
            <th class="text-center">Notes</th>       
            <th class="text-center">Done</th>       
            <th class="text-center"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let finance of finances">       
            <td>{{ finance.name }}</td>
            <td>{{ finance.due | date: 'EE, MMM dd' }}</td>       
            <td>{{ finance.notes }}</td>
            <td class="text-center">
              <input type="checkbox" [checked]="finance.done" [disabled]="true">
            </td>
            <td class="text-center">
              <button class="btn btn-info" (click)="showEditForm(finance)">
                <i class="glyphicon glyphicon-pencil"></i>
              </button>
              <button class="btn btn-danger" (click)="removeFinance(finance)">
                <i class="glyphicon glyphicon-remove"></i>
              </button>
            </td>       
          </tr>
        </tbody>
      </table>
      <button class="btn btn-success" (click)="showNewForm()">
        <i class="glyphicon glyphicon-plus"></i>
      </button>
      <form *ngIf="showForm()" [formGroup]="formGroup" (ngSubmit)="saveFinance(formGroup.value)">
        <h2>{{headerText}}</h2>
        <p>Entry <input type="text" name="name" formControlName="name" /></p>
        <p>Due <input type="date" name="due" formControlName="due"/></p>
        <p>Done <input type="checkbox" name="done" formControlName="done" /></p>    
        <p>Notes <input type="text" name="notes" formControlName="notes" /></p>
        <p>
          <input type="submit" class="btn btn-primary" value="Save">
          <input type="button" class="btn btn-warning" value="Cancel" (click)="cancelEditFinance()">
        </p>
      </form>
    </div>
   </div>